
header h1 {
    display: flex;
    justify-content: center;
    margin: 4rem;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

h3{
    display: flex;
    justify-content: center;
    margin: 4rem;
    
}

ul{
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
}

nav li{
    display: flex;
    margin-left: 26rem;
}

header a {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}

.gatos{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.perros{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 1rem;
}

