
header h1 {
    display: flex;
    justify-content: center;
    margin: 4rem;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

h3{
    display: flex;
    justify-content: center;
    margin: 4rem;
    
}

ul{
    display: flex;
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
}

nav li{
    display: flex;
    margin-left: 26rem;
}

header a {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}

.gatos{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.perros{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 1rem;
}

.gato-1{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.gato-2{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

.gato-3{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 1rem;
}

.ginger{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 30rem ;
    flex-direction: row-reverse;
    
}

.ginger p {
    margin-top: 10rem;
    font-size: large;
    margin-right: 3rem;
}

.tommy{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-right: 30rem ;
    flex-direction: row-reverse;
    
}

.tommy p {
    margin-top: 10rem;
    font-size: large;
    margin-right: 3rem;
}

.lucifer{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-right: 30rem ;
    flex-direction: row-reverse;
    
}

.lucifer p {
    margin-top: 10rem;
    font-size: large;
    margin-right: 3rem;
}

